# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
